.map {
	border: medium solid #999;
}

.states {
    stroke: #000;
    stroke-width: 5px;
    stroke-linecap: round;
}

.countries {
	fill: #FFF;
	stroke: #CCC;
	stroke-width: 2px;
}

.gratBackground {
	fill: #D5E3FF;
}

.gratLines {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}